.Annotation {
  transition: all 0.5s ease-in-out;
  position: fixed;
  box-shadow: inset 0 0 0 0.09px white;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: indianred;
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
