.FullscreenModelPage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: block;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.FullscreenModelPage .info-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.FullscreenModelPage .info-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: auto;
  padding: 1rem 0.7rem;
  border-radius: 40px;
  z-index: var(--z-info);
  border: 1px solid rgba(var(--white-rgb), 0.3);
  background-color: rgba(var(--dark-rgb), 0.4);
}

.FullscreenModelPage .mobile.info-panel {
  justify-content: flex-end;
  min-width: 100%;
  height: 80px;
  position: absolute;
  bottom: 1rem;
  left: 0rem;
  right: 0rem;
}

.FullscreenModelPage .mobile .info-panel-wrapper {
  flex-direction: row;
  padding: 0.6rem 1.8rem;
  border-radius: 48px;
  gap: 30px;
}

.FullscreenModelPage .info-panel .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FullscreenModelPage .info-panel .item span {
  margin-top: 0.4rem;
  font-size: 0.5rem;
  text-align: center;
}

/* .IntroPage ~ .ContentManager h1 {
  margin-bottom: 25rem;
} */

.background-video {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  width: 100%;
  max-height: 1080px;
  height: 100%;
  z-index: 0;
}

.background-video iframe {
  position: relative;
  width: 1920px;
  height: 1080px;
}

.background-video::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: -1;
}
.background-video::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

@media (max-width: 432px) {
  .background-video iframe {
    height: 100vh;
  }

  .IntroPage ~ .ContentManager h1 {
    margin-bottom: 0;
  }
}

.ContentManager .ScrollDownIndicator {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ContentManager.display-indicator .ScrollDownIndicator {
  opacity: 0.6 !important;
}

.ContentManager .NavPrevNextButtons {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ContentManager.display-indicator .NavPrevNextButtons {
  opacity: 1;
}

.ContentManager.index-page #slide-1 {
  height: 1080px !important;
}

.ContentManager.index-page .slides:not(#slide-1) {
  transform: none;
  min-width: 1024px;
}

@media screen and (max-width: 768px) {
  .ContentManager.index-page #slide-1 {
    height: 100vh !important;
  }
}

@media screen and (max-width: 1024px) {
  .ContentManager.index-page .slides:not(#slide-1) {
    min-width: 100%;
  }
}
